s
/*Transitions*/
.page-transition {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}
.page-transition-enter {
  opacity: 0;
  transform: translateY(20px);
}
.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.page-transition-exit {
  opacity: 1;
  transform: translateY(0);
}
.page-transition-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
.profileImageWrapper {
  position: relative; /* add position relative */
}

.profileImageWrapper::before { /* add pseudo-element to create space for the header */
  content: "";
  display: block;
  height: 100px;
  margin-top: -100px;
}
.profileImageWrapper {
  position: relative;
}

.profileImageWrapper img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(70, 130, 180, 0.7);
  animation: glow 2s ease-in-out infinite;
}
.container {
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  background: linear-gradient(to bottom, #141e2f, #000000);
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  coloR: #fff;
  padding-bottom: 50px;
}
