* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.main-text {
  margin-top: 30px;
  font-family: 'Roboto-Regular';
  font-size: 20px;
}
@font-face {
  font-family: 'Gruppo-Regular';
  src: url('/fonts/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1 { 
  font-size: 48px;
  font-family: 'Gruppo-Regular', sans-serif;
}
main {
  padding-top: 100px; /* set the padding to match the height of the menu */
  background-color: #141e2f;
}

/*Transitions*/
.page-transition {
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}
.page-transition-enter {
  opacity: 0;
  transform: translateY(20px);
}
.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.page-transition-exit {
  opacity: 1;
  transform: translateY(0);
}
.page-transition-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/**/
.container {
  height: fit-content;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #141e2f, #000000);
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  coloR: #fff
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 80px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #141e2f, #235347);
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}.links ul {
  list-style: none;
  display: flex;
}

.links ul li {
  margin-right: 20px;
}

.links ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}
li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  background: transparent;
  transition: all 0.3s ease;
  margin: 0 1rem;
}
li:hover {
  border-color: #1de9b6;
  background-color: #1de9b6;
  background-image: linear-gradient(
    to bottom right,
    #1de9b6,
    #1dc4e9
  );
  animation: pulse-border 1s ease-in-out infinite;
}
li.active {
  border-color: #1de9b6;
  background-color: transparent;
} 
#particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
  
  #particle-canvas {
  width: 100%;
  height: 100%;
  background-color: #232741;
  }