.links {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 52px;
  width: 100%;
  background-color: grey;
  z-index: 1;
  box-shadow: none;
}

.links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.links ul li {
  margin: auto;
}

.links ul li:first-child {
  margin-left: 0;
}

.links ul li:last-child {
  margin-right: 0;
}

.links ul li a {
  display: inline-block;
  padding: 0 1.5rem;
  height: 100%;
  font-family: 'Roboto-Regular', sans-serif;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease-out, border-radius 0.2s ease-out;
  cursor: pointer;
  border-radius: 2rem;
}

.links ul li a:hover {
  color: #f7b733;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 4px;
}

.links ul li a.active {
  pointer-events: none;
  cursor: default;
  font-size: 1.1rem;
}